<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.tstlimited.footballbettingtips"
        versionCode = "11"
        version     = "1.1" >

	<name>Football Betting Tips</name>

	<description>Football betting tips straight to your phone.</description>

	<author href="https://www.footballfreetips.com" email="hammy@splitanatom.com">Football Betting Tips</author>

	<gap:platform name="android" />
	
	<!-- General preferences -->
	<preference name="android-targetSdkVersion" value="26" />
	<preference name="buildArchitecture" value="arm" />
	<preference name="android-build-tool" value="gradle" />
	<preference name="permissions" value="none"/>

	<preference name="disallowOverscroll" value="true" />
	<preference name="webviewbounce" value="false" />

	<!-- Custom preferences -->
	<preference name="android-minSdkVersion" value="15" />

	<!-- PhoneGap plugin declaration -->
	<plugin name="cordova-plugin-inappbrowser" source="npm" />
	<plugin name="cordova-plugin-network-information" source="npm" />
	<plugin name="cordova-plugin-whitelist" source="npm" />
	<plugin name="cordova-plugin-splashscreen" source="npm" />
	<plugin name="cordova-plugin-device" source="npm" />
	<plugin name="cordova-plugin-statusbar" source="npm" />
	<plugin name="cordova-build-architecture" spec="https://github.com/MBuchalik/cordova-build-architecture.git#v1.0.1" source="git" />
	<plugin name="onesignal-cordova-plugin" source="npm" />

	<!-- Whitelist policy  -->
	<access origin="*" />
	<allow-intent href="*" />
	<allow-navigation href="*" />

	<!-- SplashScreen configuration -->
	<preference name="SplashScreen" value="splash" />
	<preference name="SplashScreenDelay" value="10000" />
	<preference name="FadeSplashScreenDuration" value="300" />
	<preference name="ShowSplashScreenSpinner" value="false" />

	<!-- Icons and Splashscreens declaration -->

	<!-- Icons -->
	<icon src="icon.png" />
	<icon src="./icons/48.png" gap:platform="android" gap:qualifier="ldpi" />
	<icon src="./icons/72.png" gap:platform="android" gap:qualifier="mdpi" />
	<icon src="./icons/96.png" gap:platform="android" gap:qualifier="hdpi" />
	<icon src="./icons/144.png" gap:platform="android" gap:qualifier="xhdpi" />
	<icon src="./icons/192.png" gap:platform="android" gap:qualifier="xxhdpi" />
	<icon src="./icons/512.png" gap:platform="android" gap:qualifier="xxxhdpi" />
	
	<!-- Splashscreens -->
	<gap:splash src="splash.9.png" />
	<gap:splash src="./splashscreens/splashscreen-wp-appkit-ldpi.9.png" gap:platform="android" gap:qualifier="ldpi" />
	<gap:splash src="./splashscreens/splashscreen-wp-appkit-mdpi.9.png" gap:platform="android" gap:qualifier="mdpi" />
	<gap:splash src="./splashscreens/splashscreen-wp-appkit-hdpi.9.png" gap:platform="android" gap:qualifier="hdpi" />
	<gap:splash src="./splashscreens/splashscreen-wp-appkit-xhdpi.9.png" gap:platform="android" gap:qualifier="xhdpi" />
	<gap:splash src="./splashscreens/splashscreen-wp-appkit-xxhdpi.9.png" gap:platform="android" gap:qualifier="xxhdpi" />
	<gap:splash src="./splashscreens/splashscreen-wp-appkit-xxxhdpi.9.png" gap:platform="android" gap:qualifier="xxxhdpi" />
</widget>
